In [1]:
%matplotlib inline
import pandas as pd
import sklearn
import numpy as np
from IPython.display import display
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt
from matplotlib import rcParams

## Change The Parameters HERE!!!

In [28]:
input_csv_path = '../../data/ch3_with_features_2.csv'
output_csv_path = '../../data/Ch3_with_features_complete.csv'
# input_csv_path = '../../data/the_standard_data_with_features.csv'
# output_csv_path = '../../data/the_standard_data_with_features.csv'

In [15]:
data = pd.concat([pd.read_csv('../../data/Ch3_with_features.csv'),pd.read_csv(input_csv_path)])

/Users/tomfoolery/Documents/Study/py37_env/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [30]:
input_csv_path = '../../data/Ch3_with_features_complete.csv'

In [31]:
data = pd.read_csv(input_csv_path)
data

,Unnamed: 0,DOW,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,category,date,headline,hour,is_การเมือง,...,tag_pop_sum,tag_top_pop_mean,tag_top_pop_sum,tag_top_worst_mean,tag_top_worst_sum,time,timeDelta,token,view,year
0,0,FRI,0,0,0.0,ในประเทศ,2019-04-05,"เจ้าหน้าที่ยังตามหา""น้องภาคิน""หายตัวจากบ้าน",19,0,...,422,1,1,0,0,19:01,15,"เจ้าหน้าที่,หา,น้องภาคิน,หาย,ตัว,บ้าน",143,2019
1,1,FRI,1,1,1.0,กีฬา,2019-04-05,"""รัชนก""พ่าย""ไท่ ซื่อ หยิง""มือ 1 โลก ร่วงตกรอบ ...",18,0,...,65,1,1,3,3,18:50,15,"รัชนก,พ่าย,ไท่,ซื่อ,หยิง,มือ,โลก,ร่วง,ตกรอบ,คน...",108,2019
2,2,FRI,2,2,2.0,กีฬา,2019-04-05,“สราวุฒิ” สุดเจ๋งผงาดคว้าแชมป์สเตจ 5 จักรยานทา...,18,0,...,14,0,0,0,0,18:38,15,"สราวุฒิ,เจ๋ง,ผงาด,คว้า,แชมป์,สเตจ,จักรยาน,ทัวร...",205,2019
3,3,FRI,3,3,3.0,บันเทิง,2019-04-05,"""แบงค์ ฮอร์โมน""ขอผ่อนผันการเกณฑ์ทหาร",18,0,...,74,0,0,0,0,18:25,15,"แบงค์ ฮอร์โมน,ผ่อนผัน,เกณฑ์,ทหาร",73,2019
4,4,FRI,4,4,4.0,กีฬา,2019-04-05,สนามฟุตบอลจากขยะรีไซเคิล ช่วงบอลโลก 2018,18,0,...,511,0,0,1,6,18:06,15,"สนาม,ฟุตบอล,ขยะ,รีไซเคิล,บอล,โลก,2018",18,2019
5,5,FRI,5,5,5.0,บันเทิง,2019-04-05,“เบลล่า” บิดลัดฟ้าร่วมงานระดับโลก ประกบนางแบบด...,17,0,...,24,7,15,1,1,17:48,15,"เบลล่า,บิดลัดฟ้า,งาน,ระดับ,โลก,ประกบ,คาร่า เดเ...",1668,2019
6,6,FRI,6,6,6.0,ในประเทศ,2019-04-05,ทลาย 3 ขบวนการยาเสพติดยึดยาบ้า 21 ล้านเม็ด,17,0,...,326,0,0,0,0,17:42,15,"ทลาย,ขบวนการ,ยา,เสพ,ติด,ยึด,ยาบ้า,ล้าน,เม็ด",164,2019
7,7,FRI,7,7,7.0,ในประเทศ,2019-04-05,ลิฟท์โรงแรมหนีบขาแม่บ้าน พยายามเอาขาขวางให้ลิฟ...,17,0,...,147,0,0,0,0,17:16,15,"ลิฟท์,โรง,แรม,หนีบขา,แม่บ้าน,ขา,ลิฟท์",119,2019
8,8,FRI,8,8,8.0,บันเทิง,2019-04-05,แม่ “อาม ชุติมา” ไม่ทน!ขอปกป้องลูก เจออดีตคนขั...,16,0,...,420,5,5,0,0,16:53,15,"แม่,อาม ชุติมา,ทน,ปกป้อง,ลูก,เจอ,คน,ขับ,รถ,ท้า",2252,2019
9,9,FRI,9,9,9.0,ในประเทศ,2019-04-05,ทำแผน..มือยิงอริดับคาร้านจิ้มจุม,16,0,...,14,0,0,0,0,16:52,15,"ทำ,แผน,มือ,ยิง,อริดับ,คา,ร้าน,จิ้มจุม",97,2019
10,10,FRI,10,10,10.0,การเมือง,2019-04-05,มารู้จัก..!การแจกใบเหลือง – ใบส้ม-ใบแดง,16,1,...,1,3,10,5,5,16:14,15,"รู้จัก,แจก,ใบ,เหลือง,ใบ,ส้ม,ใบ,แดง",381,2019
11,11,FRI,11,11,11.0,บันเทิง,2019-04-05,ลูกทุ่งดัง “เต๊ะ ตระกูลตอ” รอดทหาร ขอบวชแก้บน ...,16,0,...,54,0,0,0,0,16:08,15,"ลูก,ทุ่ง,เต๊ะ ตระกูล,ตอ,รอด,ทหาร,บวช,แก้บน",196,2019
12,12,FRI,12,12,12.0,ในประเทศ,2019-04-05,ตร.เร่งสอบปากคำแม่ทิ้งลูกเสียชีวิตในห้องพัก,16,0,...,738,6,6,1,1,16:00,15,"ตร,เร่ง,สอบ,ปากคำ,แม่ทิ้ง,ลูก,ชีวิต,ห้อง,พัก",220,2019
13,13,FRI,13,13,13.0,ในประเทศ,2019-04-05,ปล่อยแร้งหลงกรุงกลับบ้าน ที่ดอยสันจุ๊,15,0,...,42,0,0,0,0,15:58,15,"ปล่อย,แร้ง,หลง,กรุง,บ้าน,ดอยสันจุ๊",345,2019
14,14,FRI,14,14,14.0,ในประเทศ,2019-04-05,วิกฤตขยะพลาสติกทะเลไทยพบขยะในท้องเต่า และโลมา,15,0,...,43,0,0,1,3,15:57,15,"วิกฤต,ขยะ,พลาสติก,ทะเล,ไทย,ขยะ,ท้องเต่า,โลมา",95,2019
15,15,FRI,15,15,15.0,ในประเทศ,2019-04-05,ไฟไหม้ลานจอดรถกองบัญชาการกองทัพบกเผาวอด 5 คัน,15,0,...,50,2,2,6,6,15:57,15,"ไฟไหม้,ลาน,จอด,รถ,กองบัญชาการกองทัพบก,เผา,วอด,คัน",148,2019
16,16,FRI,16,16,16.0,ในประเทศ,2019-04-05,ฮา..ทั้งโรงพัก ลืมเบรกมือรถไหลลงคลอง นึกว่าโด...,15,0,...,103,0,0,0,0,15:53,15,"ฮา,โรง,พัก,ลืม,เบรก,มือ,รถไหล,คลอง,นึก,โดน,ขโม...",3508,2019
17,17,FRI,17,17,17.0,ในประเทศ,2019-04-05,พ่อเข่าอ่อนกระบะหายแจ้งตำรวจ สุดท้ายลูกเอาไปใช้,15,0,...,1,2,2,0,0,15:30,15,"พ่อ,เข่า,อ่อน,กระบะ,หาย,แจ้ง,ตำรวจ,สุดท้าย,ลูก",191,2019
18,18,FRI,18,18,18.0,บันเทิง,2019-04-05,“โป๊ป ธรวรรธน์” งง!โดนสวมรอยหาคู่ เผย ขอปล่อยผ...,15,0,...,1,11,11,0,0,15:29,15,"โป๊ป,ธรวรรธน์,งง,โดน,สวม,รอย,หา,คู่,เผย,ปล่อย,...",114,2019
19,19,FRI,19,19,19.0,เศรษฐกิจ,2019-04-05,ปตท.บางจาก ประกาศตรึงราคาน้ำมันช่วงสงกรานต์,15,0,...,1,0,0,1,6,15:28,15,"ปตท,ประกาศ,ตรึง,ราคา,น้ำมัน,สงกรานต์",30,2019
20,20,FRI,20,20,20.0,เศรษฐกิจ,2019-04-05,ก.คลัง เร่งแผนควบรวม ธอส.-บตท.,15,0,...,48,1,3,2,2,15:28,15,"ก,คลัง,เร่ง,แผน,ควบรวม,ธอส,บตท",72,2019
21,21,FRI,21,21,21.0,เศรษฐกิจ,2019-04-05,คลังอาเซียนจับมือฝ่ามรสุมเศรษฐกิจชะลอตัว,15,0,...,1,0,0,1,2,15:27,15,"คลัง,อาเซียน,จับมือ,ฝ่ามรสุม,เศรษฐกิจ,ชะลอตัว",5,2019
22,22,FRI,22,22,22.0,เศรษฐกิจ,2019-04-05,รองนายกฯ สมคิด สั่ง ททท.ใช้ยาแรงกระตุ้นการท่อ...,15,0,...,1,1,1,2,7,15:27,15,"รอง,นายก,สมคิด,สั่ง,ททท,ยา,แรง,กระตุ้น,ท่องเที่ยว",30,2019
23,23,FRI,23,23,23.0,ในประเทศ,2019-04-05,มท.ชวนประชาชนร่วมพิธีทำน้ำอภิเษก ในการพระราชพิ...,15,0,...,1,3,3,1,3,15:25,15,"มท,ชวน,ประชาชน,พิธี,ทำ,น้ำ,อภิเษก,พระราชพิธี,บ...",20,2019
24,24,FRI,24,24,24.0,ในประเทศ,2019-04-05,บุกรวบสาวหลอกซื้อขายออนไลน์ ได้เงินกว่า 5 แสน,15,0,...,1,1,3,0,0,15:25,15,"บุกรวบ,สาว,หลอกซื้อขาย,ออนไลน์,เงิน,แสน",280,2019
25,25,FRI,25,25,25.0,ในประเทศ,2019-04-05,"พ่อยังคงตามหา""น้องภาคิน""หลังหายตัว 5 วัน",15,0,...,1,0,0,0,0,15:24,15,"พ่อ,หา,น้องภาคิน,หายตัว",333,2019
26,26,FRI,26,26,26.0,ในประเทศ,2019-04-05,ลุ้นหมอกควันวันสงกรานต์ที่เชียงใหม่,15,0,...,1,0,0,2,5,15:23,15,"ลุ้น,หมอก,ควัน,สงกรานต์,เชียงใหม่",14,2019
27,27,FRI,27,27,27.0,ในประเทศ,2019-04-05,"ตำรวจเชิญพ่อและพี่ชายของ""น้องภาคิน""ให้ข้อมูลเพิ่ม",15,0,...,49,0,0,2,2,15:21,15,"ตำรวจ,เชิญ,พ่อ,พี่,ชาย,น้องภาคิน,ข้อมูล",1284,2019
28,28,FRI,28,28,28.0,ในประเทศ,2019-04-05,คนขับแท็กซี่พบกรมขนส่ง กรณีโซเชียลแชร์ดูหนัง A...,15,0,...,1,1,3,1,1,15:20,15,"คน,ขับ,แท็กซี่,กรมขนส่ง,กรณี,โซเชียลแชร์,ดู,หน...",70,2019
29,29,FRI,29,29,29.0,ในประเทศ,2019-04-05,สั่งเร่งล่าโจรขโมยล้อแม็ก คาดได้ตัวเร็วๆ นี้,15,0,...,31,1,2,1,5,15:20,15,"สั่ง,เร่ง,ล่า,โจร,ขโมย,ล้อ,แม็ก,คาด,ตัว,ๆ นี้",54,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45239,20522,MON,20522,20522,NaN,ในประเทศ,2017-05-08,พบ 7 รายชื่อเอี่ยวซื้อประเวณีเด็กแม่ฮ่องสอน,11,0,...,1,0,0,0,0,11:24,712,"ชื่อ,เอี่ยว,ซื้อ,ประเวณี,เด็ก,แม่ฮ่องสอน",833,2017
45240,20523,MON,20523,20523,NaN,ในประเทศ,2017-05-08,ปลัด มท.ยันได้ข้อสรุปสอบผู้ว่าฯ แม่ฮ่องสอนในกร...,11,0,...,1,0,0,0,0,11:22,712,"ปลัด,มท,ยัน,ข้อ,สรุป,สอบ,แม่ฮ่องสอน,กรอบ",186,2017
45241,20524,MON,20524,20524,NaN,บันเทิง,2017-05-08,'แน็ท The Voice Kids 5'โชว์พลังเสียงสะท้าน ดัน...,11,0,...,22,1,1,0,0,11:21,712,"แน็ท,The,Voice,Kids,โชว์,พลัง,เสียง,สะท้าน,ดัน...",625,2017
45242,20525,MON,20525,20525,NaN,ในประเทศ,2017-05-08,บึงกาฬ-ยึดยาบ้าใช้หลักกิโลเป็นจุดส่งของ,10,0,...,1,0,0,0,0,10:44,712,"บึงกาฬ,ยึด,ยาบ้า,หลัก,กิโล,จุด",333,2017
45243,20526,MON,20526,20526,NaN,กีฬา,2017-05-08,หงส์ฝืดเจ๊านักบุญไร้สกอร์ ปืนใหญ่อัดแมนยู 2-0,10,0,...,150,0,0,12,24,10:30,712,"หงส์,ฝืด,เจ๊า,นักบุญไร้สกอร์,ปืน,อัด,แมนยู",170,2017
45244,20527,MON,20527,20527,NaN,การเมือง,2017-05-08,นายกฯ ยินดีทัพนักกีฬาเทควันโด คว้าแชมป์โลก 6 เ...,10,1,...,1,0,0,0,0,10:26,712,"นายก,ยินดี,ทัพ,กีฬา,เทควัน,โด,คว้า,แชมป์,โลก,เ...",217,2017
45245,20528,MON,20528,20528,NaN,ในประเทศ,2017-05-08,สุราษฎร์ธานี-ออกหมายจับอดีตสามีแทงภรรยายัดท้ายรถ,10,0,...,168,9,9,0,0,10:24,712,"สุราษฎร์ธานี,หมาย,สามี,แทง,ภรรยา,ยัดท้าย,รถ",1248,2017
45246,20529,MON,20529,20529,NaN,กีฬา,2017-05-08,'กัปตันกิ๊ฟ'ควงแฟนหนุ่มวิวาห์หวาน แก๊งนักตบทีม...,10,0,...,470,4,13,12,24,10:20,712,"กัปตัน,กิ๊ฟ,ควง,แฟน,หนุ่ม,วิวาห์,หวาน,แก๊ง,ตบ,...",504,2017
45247,20530,MON,20530,20530,NaN,กีฬา,2017-05-08,บุรีรัมย์สะดุดพ่ายราชบุรี 3-4 เชียงรายเจ๊าเทโร...,10,0,...,41,0,0,5,10,10:18,712,"บุรีรัมย์,สะดุดพ่าย,ราชบุรี,เชียงราย,เจ๊าเทโร",183,2017
45248,20531,MON,20531,20531,NaN,กีฬา,2017-05-08,สาลิกาคว่ำบาร์นสลีย์ 3-0 ซิวแชมป์ลีกรองอังกฤษ ...,10,0,...,142,0,0,10,21,10:15,712,"สาลิกา,คว่ำบาร์นสลีย์,ซิว,แชมป์,ลีกรองอังกฤษ,ค...",121,2017
45249,20532,MON,20532,20532,NaN,ในประเทศ,2017-05-08,ตรัง-ตลาดส่งออกหมอนยางพาราสดใส รายได้ต่อปีทะลุ...,10,0,...,100,2,2,2,2,10:15,712,"ตรัง,ตลาด,หมอน,ยางพารา,สดใส,ปี,ทะลุ,ล้าน,บาท",1638,2017
45250,20533,MON,20533,20533,NaN,กีฬา,2017-05-08,'โปรเม'ดวลวงสวิงพ่าย'คิม เซ ยัง'ฉิวเฉียด ได้รอ...,10,0,...,203,0,0,5,20,10:10,712,"โปรเม,ดวลวง,สวิง,พ่าย,คิม,เซ,ฉิวเฉียด,รอง,แชมป...",147,2017
45251,20534,MON,20534,20534,NaN,ในประเทศ,2017-05-08,สระแก้ว-กระบะแหกโค้งลงข้างทาง ดับ 3,9,0,...,90,1,1,0,0,09:58,712,"สระแก้ว,กระบะ,แหก,โค้ง,ดับ",321,2017
45252,20535,MON,20535,20535,NaN,โครงข่ายตาสับปะรด,2017-05-08,เก๋งพลิกคว่ำขึ้นฟุตปาธปากซอยลาดพร้าว 97 บาดเจ...,9,0,...,136,1,2,3,3,09:47,712,"เก๋ง,พลิก,คว่ำ,ฟุตปาธ,ปาก,ซอยลาดพร้าว 97,บาดเจ็บ",569,2017
45253,20536,MON,20536,20536,NaN,ในประเทศ,2017-05-08,หนุ่มต่อยหญิงในร้านโจ๊กขอโทษคู่กรณี จ่าย 1 หมื...,9,0,...,45,1,1,0,0,09:36,712,"หนุ่ม,ต่อย,หญิง,ร้าน,โจ๊ก,ขอโทษ,คู่,กรณี,จ่าย,...",248,2017
45254,20537,MON,20537,20537,NaN,ในประเทศ,2017-05-08,ดราม่ากระทะดัง!ชาวแน็ตแฉที่สิงคโปร์ขายใบละ 600...,9,0,...,95,1,2,2,2,09:32,712,"ดราม่า,กระทะ,แน็ต,แฉ,สิงคโปร์,ขาย,ใบ,วู้,ดดี้,...",264,2017
45255,20538,MON,20538,20538,NaN,โครงข่ายตาสับปะรด,2017-05-08,ทัวร์พลิกตะแคงลงข้างทางเจ็บกว่า10 ราย,9,0,...,237,1,3,2,4,09:28,712,"ทัวร์,พลิก,ตะแคง,เจ็บ",126,2017
45256,20539,MON,20539,20539,NaN,ในประเทศ,2017-05-08,ชลบุรี-แจ้งจับพระเมาโวยวายลั่นสถานีขนส่งพัทยา,8,0,...,458,14,14,6,6,08:10,712,"ชลบุรี,แจ้ง,พระเมา,โวยวาย,ลั่น,สถานีขนส่งพัทยา",421,2017
45257,20540,MON,20540,20540,NaN,บันเทิง,2017-05-08,Guardians of the Galaxy Vol.2 ครองแชมป์หนังทำเงิน,6,0,...,230,0,0,1,3,06:14,712,"Guardians,Galaxy,Vol,ครอง,แชมป์,หนัง,ทำ,เงิน",315,2017
45258,20541,MON,20541,20541,NaN,ต่างประเทศ,2017-05-08,สหราชอาณาจักร-ออกแบบหุ่นสายลับแฝงตัวในฝูงสัตว์ป่า,6,0,...,163,0,0,7,7,06:13,712,"สหราชอาณาจักร,หุ่น,สาย,ลับ,แฝง,ตัว,ฝูง,สัตว์,ป่า",373,2017
45259,20542,MON,20542,20542,NaN,ต่างประเทศ,2017-05-08,สหราชอาณาจักร-ลดต้นทุนธุรกิจแฟชั่นด้วยเครื่องท...,6,0,...,1,0,0,0,0,06:13,712,"สหราชอาณาจักร,ลด,ต้น,ทุน,ธุรกิจ,แฟชั่น,เครื่อง...",243,2017
45260,20543,MON,20543,20543,NaN,ต่างประเทศ,2017-05-08,สหรัฐฯ-ฝึกละครสัตว์เชื่อมสัมพันธ์เด็กต่างถิ่น,6,0,...,717,7,7,6,12,06:12,712,"สหรัฐฯ,ฝึก,ละคร,สัตว์,เชื่อม,สัมพันธ์,เด็ก,ต่า...",103,2017
45261,20544,MON,20544,20544,NaN,ต่างประเทศ,2017-05-08,เกาหลีเหนือควบคุมตัวพลเมืองสหรัฐฯ เพิ่มอีกราย,6,0,...,1,0,0,0,0,06:12,712,"เกาหลีเหนือ,ควบคุม,ตัว,พลเมือง,สหรัฐฯ",156,2017
45262,20545,MON,20545,20545,NaN,ต่างประเทศ,2017-05-08,"ผลเลือกตั้งชี้""มากรง""คือ ปธน.ฝรั่งเศส คนใหม่",6,0,...,4,0,0,0,0,06:11,712,"เลือกตั้ง,ชี้,กรง,ปธน,ฝรั่งเศส,คน",231,2017
45263,20546,SUN,20546,20546,NaN,โครงข่ายตาสับปะรด,2017-05-07,วินาทีตำรวจรวบ 1 ใน 2 พี่น้องค้ายาบ้า กลับไปนอ...,22,0,...,246,4,9,4,4,22:55,713,"วินาที,ตำรวจ,รวบ,พี่น้องค้า,ยาบ้า,นอน,คุก,เหมื...",247,2017
45264,20547,SUN,20547,20547,NaN,ในประเทศ,2017-05-07,C ASEAN consonant ผสานบทเพลงสู่ความร่วมมือ 50 ...,22,0,...,41,1,1,0,0,22:23,713,"C,ASEAN,consonant,ผสาน,บท,เพลง,ปี,อาเซียน",426,2017
45265,20548,SUN,20548,20548,NaN,ในประเทศ,2017-05-07,PEA เตรียมพร้อมรับภาวะฉุกเฉิน,22,0,...,27,0,0,0,0,22:22,713,"PEA,เตรียม,ภาวะ,ฉุกเฉิน",264,2017
45266,20549,SUN,20549,20549,NaN,ในประเทศ,2017-05-07,จัดระเบียบสหกรณ์แท็กซี่ป้องกันเหตุร้าย,22,0,...,114,1,1,3,3,22:21,713,"ระเบียบ,สหกรณ์,แท็กซี่,ป้องกัน,ร้าย",219,2017
45267,20550,SUN,20550,20550,NaN,ต่างประเทศ,2017-05-07,จับตาการเลือกตั้ง ปธน.เกาหลีใต้คนใหม่,22,0,...,211,0,0,0,0,22:16,713,"จับตา,เลือกตั้ง,ปธน,เกาหลีใต้,คน",325,2017
45268,20551,SUN,20551,20551,NaN,ในประเทศ,2017-05-07,เหยื่อเงินกู้นอกระบบ จ.ยโสธร,22,0,...,18,0,0,0,0,22:15,713,"เหยื่อ,เงิน,กู้,ระบบ,จยโสธร",1267,2017

## Tokenize

In [7]:
from pythainlp.tokenize import word_tokenize
from pythainlp.corpus import thai_stopwords
from stop_words import get_stop_words
import string
import re

In [8]:
en_stop = get_stop_words('en')
num = [str(i) for i in range(1000)]
stop_words = list(thai_stopwords())
stop_words+=[' ','']
stop_words+=string.punctuation

In [9]:
def getToken(text):
    res = word_tokenize(text,engine='deepcut')
    res = [str(i) for i in res if i not in en_stop and i not in num and i.strip() not in stop_words]
    return res

In [10]:
data['token'] = data['headline'].apply(getToken)

Using TensorFlow backend.

WARNING:tensorflow:From /home/arintrongs2/.pyenv/versions/3.6.0/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/arintrongs2/.pyenv/versions/3.6.0/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [11]:
def cleanpunc(x):
    punctuation = "!“”\"#$%&'()’‘\*\+,-./:;<=>?@[\\]^_`{|}~–"
    temp = []
    for word in x:
        tw = word
        for i in punctuation:
            tw = tw.replace(i,'')
        if len(tw) > 0:
            temp+=[tw.strip()]
    return temp

In [12]:
data['token'] = data['token'].apply(lambda x: cleanpunc(x))

In [13]:
data['numToken'] = data['token'].apply(lambda x : len(x))

In [14]:
data['numChar'] = data['token'].apply(lambda x: len(''.join([i for i in x])))

In [15]:
data['token'] = data['token'].apply(lambda x: ','.join([i for i in x if len(i)>0]))

In [16]:
data.iloc[26]['token']

'บูชา,งด,พิธี,ไหว้,พญานาค,วัดป่าคำ,ชะโนด'

### Clean Junk

In [17]:
data['token'] = data['token'].apply(lambda x : x.replace('“,', ''))
data['token'] = data['token'].apply(lambda x : x.replace('”', ','))
data['token'] = data['token'].apply(lambda x : x.replace(',“', ','))
data['token'] = data['token'].apply(lambda x : x.replace(',,', ','))
data['token'] = data['token'].apply(lambda x : x.replace('“', ','))
data['token'] = data['token'].apply(lambda x : x.replace('"', '').strip())

## Date & Timedelta

In [ ]:
data['date'] = data['date'].apply(lambda x : x.split('/')[0]
                                            +'/'+x.split('/')[1]+'/'+str(int(x.split('/')[2])-543))
data['date'] = pd.to_datetime(data['date'],format="%d/%m/%Y")
data['timeDelta'] = pd.to_datetime('20/04/2019',format="%d/%m/%Y")- data['date']
data['timeDelta'] = data['timeDelta'].apply(lambda x: int(str(x).split(' ')[0]))

In [6]:
data['month'] = data['date'].apply(lambda x: x.month)
data['year'] = data['date'].apply(lambda x: x.year)

AttributeError: 'str' object has no attribute 'month'

In [9]:
data['hour'] = data['time'].apply(lambda x : x.split(':')[0])

## POS Count

In [20]:
from pythainlp.tag import pos_tag

In [21]:
data['num_noun'] = 0
data['num_pronoun'] = 0
data['num_verb'] = 0
data['num_preverb'] = 0
data['num_determiner'] = 0
data['num_adverb'] = 0
data['num_classifier'] = 0
data['num_conjunction'] = 0
data['num_preposition'] = 0
data['num_interjunction'] = 0
data['num_prefix'] = 0
data['num_ending'] = 0
data['num_negator'] = 0
data['num_punctuation'] = 0

In [22]:
for index, row in data.iterrows():
    pos = pos_tag(row['token'].split(','),engine='artagger')
    for token,p in pos:
        if p[0] =='NEG':
            data.at[index,'NEG'] += 1
        elif p[0] =='N':
            data.at[index,'num_noun'] += 1
        elif p[0] =='PUNC':
            data.at[index,'num_punctuation'] += 1
        elif p[0] =='P':
            data.at[index,'num_pronoun'] += 1
        elif p[0] =='V':
            data.at[index,'num_verb'] += 1
        elif p[0] =='X':
            data.at[index,'num_preverb'] += 1
        elif p[0] =='D':
            data.at[index,'num_determiner'] += 1
        elif p[0] =='A':
            data.at[index,'num_adverb'] += 1
        elif p[0] =='C':
            data.at[index,'num_classifier'] += 1
        elif p[0] =='J':
            data.at[index,'num_conjunction'] += 1
        elif p[0] =='R':
            data.at[index,'num_preposition'] += 1
        elif p[0] =='I':
            data.at[index,'num_interjunction'] += 1
        elif p[0] =='F':
            data.at[index,'num_prefix'] += 1
        elif p[0] =='E':
            data.at[index,'num_ending'] += 1

In [23]:
data['nnoun_per_ntoken'] = data['num_noun']/data['numToken']
data['nverb_per_ntoken'] = data['num_verb']/data['numToken']
data['nadverb_per_ntoken'] = data['num_adverb']/data['numToken']

## Tag / Category

In [17]:
unique_category = set()
for i in data['category']:
    for j in str(i).split(','):
        unique_category.add(j.strip())

In [18]:
for i in list(unique_category):
    data['is_'+i] = data.apply(lambda row : int(i in str(row['category'])),axis=1)

In [19]:
data['tag_pop_sum'] = 0
data['tag_pop_mean'] = 0

In [20]:
tag_dict = dict()
for index, row in data.iterrows():
    tag = str(row['tag']).split(',')
    for t in tag:
        if t not in tag_dict.keys():
            tag_dict[t] = 1
        else:
            tag_dict[t] += 1

In [21]:
for index, row in data.iterrows():
    tag = str(row['tag']).split(',')
    pop_list = [tag_dict[t] for t in tag if t in tag_dict.keys()]
    data.at[index,'tag_pop_sum'] = sum(pop_list)
    if len(pop_list) > 0:
        data.at[index,'tag_pop_mean'] = sum(pop_list)/len(pop_list)

## NER Count

In [29]:
from pythainlp.tag.named_entity import ThaiNameTagger
ner = ThaiNameTagger()

In [30]:
thai_abb = pd.read_csv('../Eye/thai_abb.csv')

In [31]:
abb_set = set(thai_abb['อักษรย่อ'])

In [32]:
data['num_date'] = 0
data['num_email'] = 0
data['num_law'] = 0
data['num_len'] = 0
data['num_location'] = 0
data['num_money'] = 0
data['num_organization'] = 0
data['num_percent'] = 0
data['num_person'] = 0
data['num_phone'] = 0
data['num_time'] = 0
data['num_url'] = 0

In [33]:
for index, row in data.iterrows():
    token = row['token'].split(',')
    for t in token:
        if t in abb_set:
            t = list(thai_abb[thai_abb['อักษรย่อ']==t]['ชื่อเต็ม'])[0]
        elif t.split('.')[0] in abb_set:
            t = list(thai_abb[thai_abb['อักษรย่อ']==t.split('.')[0]]['ชื่อเต็ม'])[0]
        NER = ner.get_ner(t)
        if len(NER) > 1:
            word,pos,n = NER[1]
        elif len(NER) > 0:
            word,pos,n = NER[0]  
        else:
            continue
        if n == 'I-DATE':
            data.at[index,'num_date'] += 1
        elif n == 'I-EMAIL':
            data.at[index,'num_email'] += 1
        elif n == 'I-LAW':
            data.at[index,'num_law'] += 1
        elif n == 'I-LEN':
            data.at[index,'num_len'] += 1
        elif n == 'I-LOCATION':
            data.at[index,'num_location'] += 1
        elif n == 'I-MONEY':
            data.at[index,'num_money'] += 1
        elif n == 'I-ORGANIZATION':
            data.at[index,'num_organization'] += 1
        elif n == 'I-PERCENT':
            data.at[index,'num_percent'] += 1
        elif n == 'I-PERSON':
            data.at[index,'num_person'] += 1
        elif n == 'I-PHONE':
            data.at[index,'num_phone'] += 1
        elif n == 'I-TIME':
            data.at[index,'num_time'] += 1
        elif n == 'I-URL':
            data.at[index,'num_url'] += 1

## Thai Names

In [34]:
thai_name = pd.read_csv('../Eye/ThaiName.txt',sep=" ",header=None)
thai_name.columns = ["firstName", "lastName"]
thai_name.dropna(inplace=True)
thai_name_f = pd.read_csv('../Eye/ThaiName-female.txt',sep=" ",header=None)
thai_name_f.columns = ["firstName"]
thai_name_f.dropna(inplace=True)
thai_name_m = pd.read_csv('../Eye/ThaiName-man.txt',sep=" ",header=None)
thai_name_m.columns = ["firstName"]
thai_name_m.dropna(inplace=True)

In [35]:
thaiNameSet = set(thai_name_f['firstName']).union(set(thai_name_m['firstName']))

In [36]:
data['num_person_2'] = 0

In [37]:
reserve_name = ['สมัคร','ชวน','พายุ','เลื่อน','อำนาจ','สัญญา','นิยม']

In [38]:
for index, row in data.iterrows():
    token = row['token'].split(',')
    for t in token : 
        if t in thaiNameSet and t not in reserve_name:
            data.at[index,'num_person_2'] += 1

## Sentiment

In [39]:
pos_df1 = pd.read_csv('../Eye/sentiment_data/positive_new.txt', header=None)
pos_df1.columns = ["pos_word"]
pos_df1.dropna(inplace=True)
pos_df2 = pd.read_csv('../Eye/sentiment_data/positive__verbs.txt', header=None)
pos_df2.columns = ["pos_word"]
pos_df2.dropna(inplace=True)
pos_df3 = pd.read_csv('../Eye/sentiment_data/positive__adjectives.txt', header=None)
pos_df3.columns = ["pos_word"]
pos_df3.dropna(inplace=True)

In [40]:
neg_df1 = pd.read_csv('../Eye/sentiment_data/negative_new.txt', header=None)
neg_df1.columns = ["neg_word"]
neg_df1.dropna(inplace=True)
neg_df2 = pd.read_csv('../Eye/sentiment_data/negative_verbs.txt', header=None)
neg_df2.columns = ["neg_word"]
neg_df2.dropna(inplace=True)
neg_df3 = pd.read_csv('../Eye/sentiment_data/negative_adjectives.txt', header=None)
neg_df3.columns = ["neg_word"]
neg_df3.dropna(inplace=True)

In [41]:
pos_word_set = set(pos_df1['pos_word']).union(set(pos_df2['pos_word'])).union(set(pos_df3['pos_word']))
neg_word_set = set(neg_df1['neg_word']).union(set(neg_df2['neg_word'])).union(set(neg_df3['neg_word']))

In [42]:
data['num_pos'] = 0
data['num_neg'] = 0

In [43]:
for index, row in data.iterrows():
    token = row['token'].split(',')
    for t in token : 
        if t in pos_word_set:
            data.at[index,'num_pos'] += 1  
        elif t in neg_word_set:
            data.at[index,'num_neg'] += 1

## Tag

In [44]:
data['tag_pop_sum'] = 0
data['tag_pop_mean'] = 0
data['tag_top_pop_sum'] = 0
data['tag_top_pop_mean'] = 0
data['num_tag_pop'] = 0
data['tag_top_worst_sum'] = 0
data['tag_top_worst_mean'] = 0
data['num_tag_worst'] = 0

In [45]:
data['numTag'] = data.apply(lambda x: len(str(x['tag']).split(',')),axis = 1)

In [46]:
for index, row in data.iterrows():
    tag = str(row['tag']).split(',')
    pop_list = [tag_dict[t] for t in tag if t in tag_dict.keys()]
    data.at[index,'tag_pop_sum'] = sum(pop_list)
    if len(pop_list) > 0:
        data.at[index,'tag_pop_mean'] = sum(pop_list)/len(pop_list)

In [47]:
top_news = pd.DataFrame(data.sort_values('view',ascending=False)[:1000])
worst_news = pd.DataFrame(data.sort_values('view',ascending=True)[:1000])

In [48]:
tag_dict_top = dict()
for index, row in top_news.iterrows():
    tag = str(row['tag']).split(',')
    for t in tag:
        if t not in tag_dict_top.keys():
            tag_dict_top[t] = 1
        else:
            tag_dict_top[t] += 1

In [49]:
tag_dict_worst = dict()
for index, row in worst_news.iterrows():
    tag = str(row['tag']).split(',')
    for t in tag:
        if t not in tag_dict_worst.keys():
            tag_dict_worst[t] = 1
        else:
            tag_dict_worst[t] += 1

In [ ]:
for index, row in data.iterrows():
    tag = str(row['tag']).split(',')
    pop_list = [tag_dict_top[t] for t in tag if t in tag_dict_top.keys()]
    data.at[index,'num_tag_pop'] = len(pop_list)
    data.at[index,'tag_top_pop_sum'] = sum(pop_list)
    if len(pop_list) > 0:
        data.at[index,'tag_top_pop_mean'] = sum(pop_list)/len(pop_list)

In [ ]:
for index, row in data.iterrows():
    tag = str(row['tag']).split(',')
    worst_list = [tag_dict_worst[t] for t in tag if t in tag_dict_worst.keys()]
    data.at[index,'num_tag_worst'] = len(worst_list)
    data.at[index,'tag_top_worst_sum'] = sum(worst_list)
    if len(worst_list) > 0:
        data.at[index,'tag_top_worst_mean'] = sum(worst_list)/len(worst_list)

## Similarity

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity
from pythainlp.word_vector import sentence_vectorizer

/home/arintrongs2/.pyenv/versions/3.6.0/lib/python3.6/site-packages/smart_open/ssh.py:34: UserWarning: paramiko missing, opening SSH/SCP/SFTP paths will be disabled.  `pip install paramiko` to suppress
  warnings.warn('paramiko missing, opening SSH/SCP/SFTP paths will be disabled.  `pip install paramiko` to suppress')

In [ ]:
def findMaxSim(embed1, headline_embed):
    a = np.asarray([cosine_similarity(embed1,x) for x in headline_embed])
    return a.max()

In [ ]:
top_headline = np.asarray(pd.DataFrame(data.sort_values('view',ascending=False)[:1000]['headline'])['headline'])
top_headline_embed = np.asarray([sentence_vectorizer(x) for x in top_headline])
worst_headline = np.asarray(pd.DataFrame(data.sort_values('view',ascending=True)[:1000]['headline'])['headline'])
worst_headline_embed = np.asarray([sentence_vectorizer(x) for x in worst_headline])

### ** Becareful this cell runs fucking long**

In [ ]:
for index, row in data.iterrows():
    sent = row['headline']
    sent_embed = sentence_vectorizer(sent)
    data.at[index,'sim_top'] = findMaxSim(sent_embed,top_headline_embed)
    data.at[index,'sim_worst'] = findMaxSim(sent_embed,worst_headline_embed)

## Save to .CSV

In [29]:
data.to_csv(output_csv_path)

## Combine All Data into One .csv

In [57]:
thai_pbs = pd.read_csv('../../data/')

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [ ]:
thai_pbs.head()

In [27]:
print(data.iloc[30000])

DOW                                                                   SAT
Unnamed: 0                                                           5283
Unnamed: 0.1                                                         5283
Unnamed: 0.1.1                                                        NaN
category                                                          บันเทิง
date                                                           2017-12-23
headline                โค้งสุดท้ายก้าวคนละก้าว"ตูน บอดี้สแลม"วิ่งถึง ...
hour                                                                   22
is_การเมือง                                                             0
is_กีฬา                                                                 0
is_ต่างประเทศ                                                           0
is_บันเทิง                                                              1
is_สังคมออนไลน์                                                         0
is_อาชญากรรม                                                            0
is_เศรษฐกิจ                                                             0
is_โครงข่ายตาสับปะรด                                                    0
is_ในประเทศ                                                             0
is_ในพระราชสำนัก                                                        0
is_ไลฟ์สไตล์                                                            0
month                                                                  12
nadverb_per_ntoken                                                      0
nnoun_per_ntoken                                                 0.357143
numChar                                                                62
numTag                                                                  4
numToken                                                               14
num_adverb                                                              0
num_classifier                                                          2
num_conjunction                                                         0
num_date                                                                0
num_determiner                                                          2
                                              ...
num_percent                                                             0
num_person                                                              0
num_person_2                                                            0
num_phone                                                               0
num_pos                                                                 2
num_prefix                                                              0
num_preposition                                                         0
num_preverb                                                             0
num_pronoun                                                             0
num_punctuation                                                         0
num_tag_pop                                                             4
num_tag_worst                                                           4
num_time                                                                0
num_url                                                                 0
num_verb                                                                5
nverb_per_ntoken                                                 0.357143
sim_top                                                          0.841693
sim_worst                                                        0.723109
tag                            ตูน บอดี้สแลม,ก้าวคนละก้าว,เชียงราย,แม่สาย
tag_pop_mean                                                          193
tag_pop_sum                                                           774
tag_top_pop_mean                                                        7
tag_top_pop_sum                                                        31
tag_top_worst_mean                                                      1
tag_top_worst_sum                                                       5
time                                                                22:26
timeDelta                                                             483
token                   โค้ง,สุดท้าย,ก้าว,คน,ก้าว,ตูน,บอดี้ส,แลม,วิ่ง,...
view                                                                  626
year                                                                 2017
Name: 5283, Length: 71, dtype: object