In [12]:
%matplotlib inline
import pandas as pd
import sklearn
import numpy as np
from IPython.display import display
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt
from matplotlib import rcParams

In [18]:
data = pd.read_csv('../../data/the_standard_data_with_features.csv')

In [20]:
data.head()

,Unnamed: 0,headline,date,time,view,like,share,comment,category,tag,...,num_neg,sim_top,sim_worst,tag_top_pop_sum,tag_top_pop_mean,num_tag_pop,tag_top_worst_sum,tag_top_worst_mean,num_tag_worst,numTag
0,0,สุดารัตน์การันตี มิ่งขวัญไม่เสียสัจจะ เชื่อประ...,2019-04-13,NaN,368,NaN,NaN,NaN,"Thailand,Politics","พรรคเพื่อไทย,สุดารัตน์ เกยุราพันธุ์,มิ่งขวัญ แ...",...,2,0.732773,0.722237,10,2,4,9,4,2,4
1,1,สโมสรฟุตบอลซาน ลอเรนโซฯ ในอาร์เจนตินา ประกาศเซ...,2019-04-13,NaN,22,NaN,NaN,NaN,Sport,"Argentina,San Lorenzo de Almagro",...,0,0.693959,1.000000,0,0,0,4,2,2,2
2,2,ภาพข่าวยอดเยี่ยมประจำวันที่ 7-13 เมษายน 2562,2019-04-13,NaN,31,NaN,NaN,NaN,"World,Thailand",ภาพข่าวยอดเยี่ยม,...,0,0.792388,1.000000,0,0,0,16,16,1,1
3,3,สงกรานต์สีลม สีสันความสนุก กิจกรรมดับร้อนของคน...,2019-04-13,NaN,280,NaN,NaN,NaN,Thailand,เทศกาลสงกรานต์,...,1,0.708988,0.640314,1,1,1,25,25,1,1
4,4,14 April 2003 – โครงการศึกษาจีโนมของมนุษย์เสร็...,2019-04-14,NaN,56,NaN,NaN,NaN,On this day,"พันธุกรรม,วิทยาศาสตร์",...,0,0.689889,1.000000,0,0,0,2,1,2,2

## Prepare Data

In [21]:
numerical_feature = [
       'numTag', 'numToken', 'numChar','timeDelta', 'num_noun', 'num_pronoun', 'num_verb',
       'num_preverb', 'num_determiner', 'num_adverb', 'num_classifier',
       'num_conjunction', 'num_preposition', 'num_interjunction', 'num_prefix',
       'num_ending', 'num_negator', 'num_punctuation',
       'nnoun_per_ntoken', 'nverb_per_ntoken', 'nadverb_per_ntoken',
       'num_date', 'num_email', 'num_law', 'num_len', 'num_location',
       'num_money', 'num_organization', 'num_percent', 'num_person',
       'num_phone', 'num_time', 'num_url', 'num_person_2', 'num_pos',
       'num_neg', 'sim_top', 'sim_worst', 'tag_pop_sum',
       'tag_pop_mean', 'tag_top_pop_sum', 'tag_top_pop_mean', 'num_tag_pop',
       'tag_top_worst_sum', 'tag_top_worst_mean', 'num_tag_worst']

In [27]:
categorical_feature = [i for i in data.columns if 'is_' in i]

In [36]:
numerical_feature_data = data[numerical_feature]

In [30]:
categorical_feature_data = data[categorical_feature]

In [42]:
boundary = 2000
data_bounded = data[data['view']<boundary]
x = data_bounded['view']
std = np.std(x)
mean = np.mean(x)
groups = [0,mean-0.85*std,mean-0.7*std,mean-0.35*std,mean,mean+std,mean+3*std]
print('STD : ',std)
print('MEAN : ',mean)
print(groups)

STD :  580.3653883772114
MEAN :  715.5108745247148
[0, 222.20029440408518, 309.25510266066686, 512.3829885926908, 715.5108745247148, 1295.876262901926, 2456.607039656349]

In [43]:
pop_level = []
for i in x:
    for j in range(len(groups)-1):
        if i >= groups[j] and i <= groups[j+1]:
            pop_level+=[j]

In [44]:
print(np.unique(pop_level,return_counts=True))

(array([0, 1, 2, 3, 4, 5]), array([1364,  737, 1215,  888,  947, 1424]))

In [46]:
len(categorical_feature_data.columns)

54