In [1]:
%matplotlib inline
import pandas as pd
import sklearn
import numpy as np
from IPython.display import display
from sklearn.metrics import f1_score
import matplotlib.pyplot as plt
from matplotlib import rcParams

In [2]:
from pythainlp.tokenize import word_tokenize
from pythainlp.corpus import stopwords
import string

In [3]:
import seaborn as sns
sns.set(style="darkgrid")

In [4]:
plt.rcParams['font.family']='TH SarabunPSK' #you can change to other font that works for you
plt.rcParams.update({'font.size': 50})
#fill your code here

In [32]:
input_nation = pd.read_csv('../notebooks/notebook1-result-nation.csv')

In [33]:
input_nation.drop('Unnamed: 0', axis=1, inplace=True)

In [34]:
input_nation.head()

,headline,date,DOW,time,view,like,share,comment,category,tag,content,hour
0,ไทยส่งทีมเยาวชนลุยศึกเชียร์ลีดดิ้งโลกที่สหรัฐฯ,05/04/2562,FRI,12:15,494,NaN,86,NaN,กีฬา,NaN,ที่ศูนย์วิทยาศาสตร์การกีฬา การกีฬาแห่งประเทศไท...,12
1,"""บิ๊กโจ๊ก"" จ่อเรียก ""ปิยบุตร"" ให้ข้อมูล ปมถูกร้อง",05/04/2562,FRI,12:16,1250,NaN,797,NaN,อาชญากรรม,NaN,เมื่อเวลา 11.30 น. วันที่ 5 เมษายน ที่ สำนักงา...,12
2,"""ศศิน"" ชี้ ""เปรมชัย"" ต้องติดคุก จึงจะเหมาะสม",05/04/2562,FRI,12:06,755,NaN,354,NaN,คุณภาพชีวิต,NaN,ประธานมูลนิธิสืบนาคะเสถียร นายศศิน เฉลิมลาภ บอ...,12
3,จิตอาสาปรับปรุงภูมิทัศน์รอบ แหล่งน้ำศักดิ์สิทธิ์,05/04/2562,FRI,12:02,232,NaN,4,NaN,ภูมิภาค,NaN,นายทรงพล สวาสดิ์ธรรม ผู้ว่าราชการจังหวัดลำปาง ...,12
4,คุณภาพน้ำ สงกรานต์คูเมืองเชียงใหม่ เกณฑ์พอใช้,05/04/2562,FRI,12:04,298,NaN,36,NaN,คุณภาพชีวิต,NaN,นายโสภณ ทองดี ผู้ตรวจราชการกระทรวงทรัพยากรธรรม...,12

In [35]:
from stop_words import get_stop_words
en_stop = get_stop_words('en')
num = [str(i) for i in range(1000)]
stop_words = stopwords.words('thai')
stop_words+=[' ']
stop_words+=string.punctuation

In [36]:
def getToken(text):
#     print(text)
    res = word_tokenize(text,engine='deepcut')
    res = [i for i in res if i not in en_stop and i not in num and i not in stop_words]
    return res

In [37]:
input_nation['token'] = input_nation['headline'].apply(getToken)

In [40]:
input_nation['token'] = input_nation['token'].apply(lambda x : x[1:-1].replace("'","").replace(' ',''))

In [46]:
# input_nation.to_csv('Nation-tokenize.csv')

In [39]:
input_nation = pd.read_csv('Nation-tokenize.csv')

In [41]:
input_nation['numToken'] = input_nation['token'].apply(lambda x : len(x.split(',')))

In [42]:
input_nation['numChar'] = input_nation['token'].apply(lambda x: len(x.replace(',','')))

In [44]:
input_nation.drop('Unnamed: 0', axis=1, inplace=True)